
.main {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 30px;
    
.sub{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
margin-top: 50px;
gap: 30px;

    
.name{
    display: flex;

    .firstname{
    display: flex;
    flex-direction: column;
padding: 10px;

    
    .fnametxt{
        width: 24vw;
        height: 4vh;

    }
}
.lastname{
    display: flex;
    flex-direction: column;
padding: 10px;



    .snametxt{
        width: 24vw;
        height: 4vh;

    }
}
}
.email{
    display: flex;
    flex-direction: column;
    padding: 10px;


   
.emailtxt{
    height: 4vh;


}
}
.phone{
    display: flex;
    flex-direction: column;
padding: 10px;



  
.phonetxt{
    
    height: 4vh;

}


}

.bio{
    display: flex;
    flex-direction: column;
padding: 10px;



  
.biotxt{
    
    height: 4vh;

}


}

.licence{
    display: flex;
    flex-direction: column;
padding: 10px;



  
.licencetxt{
    
    height: 4vh;

}


}

.update{
    display: flex;
    justify-content: flex-end;
    .updatebtn{
        color: white;
        background-color: rgb(13, 105, 144);
        border: none;
        border-radius: 30px;
    width: 5vw;
    height: 5vh;
    cursor: pointer;


    }
}

}
.images{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
gap: 30px;
.profile{
display: flex;
flex-direction: column;

    
    .photolabel1{
        display: flex;
        width: 50vw;

        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease;
    .photoicon{
display: flex;
align-items: center;

    }
    .file{
       
        display: none;
        
    }
}
}


.update{
    display: flex;
    justify-content: flex-end;
    .updatebtn{
        color: white;
        background-color: rgb(13, 105, 144);
        border: none;
        border-radius: 30px;
    width: 5vw;
    height: 5vh;
    cursor: pointer;


    }
}

}
.password{

    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
gap: 30px;
   
    .currentpassword{
        display: flex;
        flex-direction: column;
       
        .currentpswd{
            width: 50vw;
            height: 4vh;
        }
    }
    .newpassword{
        display: flex;
flex-direction: column;
       
        .newpswd{
            width: 50vw;

            height: 4vh;
        }
    }
    .update{
        display: flex;
        justify-content: flex-end;
        .updatebtn{
            color: white;
            background-color: rgb(13, 105, 144);
            border: none;
            border-radius: 30px;
        width: 5vw;
        height: 5vh;
        cursor: pointer;
    
        }
    }
}

}
